<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-if="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport content=" width="device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Document</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<!--View-->
<div id="app">
    <!--各种指令-->
    {{message}}

    <!--给title属性绑定值-->
    <span v-bind:title="message">
        鼠标悬停几秒钟查看此处动态绑定的提示信息！
    </span>

    <!--带i的遍历方式-->
    <li v-for="(item,i) in items">
        索引值：{{i}}-------{{item}}
    </li>

    <!--不带i的遍历方式-->
    <li v-for="(item) in items">
        {{item.name}}
        {{item.sex}}
    </li>

    <div v-if="flag2===flag1">
        I'm Lily, I'm here.
    </div>

    <div v-if="flag2">
        I'm Bob, I'm here.
    </div>

    <div>
        <!--v-on绑定事件，click特指绑定的是点击事件-->
        <button v-on:click="sayHi">click me</button>
    </div>

    <div>
        <!--双向绑定-->
        <input type="text" v-model="message">{{message}}
    </div>

    <!--双向绑定-->
    <input type="radio" name="sex" value="男" v-model="sex">男
    <input type="radio" name="sex" value="女" v-model="sex">女

    <p>
        选中了谁：{{sex}}
    </p>

    <!--下拉框-->
    <!--将默认值设定成和model里面的selected绑定在一起-->
    <select v-model="selected">
        <option>请选择</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
    </select>

    <!--使用组件-->
    <zjjacky v-for="item in items2" v-bind:itemx="item"></zjjacky>

    <!--不使用组件-->
    <div v-for="item in items2">
        <li>{{item}}</li>
    </div>

</div>
<script>
    //定义一个组件，注意：组件必须定义在ViewModel的上面
    Vue.component('zjjacky', {
        // zjjacky组件有一个属性叫itemx
        props: ['itemx'],
        // 绑定属性itemx
        template: '<li>{{itemx}}</li>'
    })

    // ViewModel
    var vm = new Vue({
        el: '#app',
        // Model
        data: {
            message: "hello,Vue!",
            items: [
                {name: "I'm MrZhu"},
                {sex: "male"},
            ],
            items2: ["hehe", "haha", "xixi"],
            flag1: "A",
            flag2: "true",
            sex: "男",
            selected: "C"
        },
        methods: {
            sayHi: function () {
                alert(this.message);
            }

        }
    });

</script>
</body>
</html>